<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.101\DotnetTools\dotnet-watch\6.0.101-servicing.21569.16\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll;c:\program files\microsoft visual studio\2022\community\common7\ide\commonextensions\microsoft\hotreload\Microsoft.Extensions.DotNetDeltaApplier.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="ws://localhost:50884/Vuetemplate/" />
          <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAlEFGPG30fPPvJk2AuyYp6/+T2s1lL6x1Srdyib+0kUxm+ASGTUBxM7uibOiIYo2bv91OiJdsBVSTtAFX3G26tAXdfTkdnoqxOMDaOyU5d0XjzaAIvLmM3DYrfI78HJTSfgWOKPRv67laNO7ZxdAVZUG23CFCbr1+Ovw+DjhezriDN25pjGagtL18tN2Ps+mhd/k62lupeFdfoEHdqc7fGNgZIeb2Sv5IwPSKllLeyW8ehdRGTidz9zZJqLa9Qfwpa7/SWcJ+/M+yG7+9KKqmDvbAvVNaIqIFjvvdmlzAC6KlrzdSWHLN9lLUv+go1/t344M76JEyzYoxQM166C4hLQIDAQAB" />
          <environmentVariable name="DOTNET_HOTRELOAD_NAMEDPIPE_NAME" value="12112168-5fb5-493d-9f1f-7578480194e3" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>